<app-navbar></app-navbar>
<!-- register.component.html -->
<section class="vh-75 gradient-custom">
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <!-- Circular back navigation button -->
                                    <div class="back-button-container">
                                        <a href="/home" class="back-button">
                                            <img src="../../../assets/back-50.png" alt="New" style="max-width: 100%;">
                                        </a>
                                    </div>
                                    <h2 class="fw-bold mb-2 text-black text-uppercase">Starkware</h2>
                                    <p class="text-black-50 mb-5">Create an account for the best experience.</p>
                                    <form class="mb-3 mt-md-4">

                                        <div class="mb-3">
                                            <input type="text" class="form-control" id="firstName" placeholder="John" />
                                            <label class="form-label text-black-50" style="margin-top: 10px;">First
                                                Name</label>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control" id="lastName" placeholder="Smith" />
                                            <label class="form-label text-black-50" style="margin-top: 10px;">Last
                                                Name</label>
                                        </div>
                                        <div class="mb-3">
                                            <input type="email" class="form-control" id="email"
                                                placeholder="name@example.com" />
                                            <label class="form-label text-black-50" style="margin-top: 10px;">Email
                                                address</label>
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="password"
                                                placeholder="*******" />
                                            <label class="form-label text-black-50"
                                                style="margin-top: 10px;">Password</label>
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-outline-dark btn-lg px-4"
                                                type="submit">Continue</button>
                                        </div>
                                    </form>
                                </div>

                                <div>
                                    <p class="text-black-50">Already have an account? <a href="login"
                                            class="text-black-50 fw-bold">Login</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
</section>