<app-navbar></app-navbar>
<div id="page-top">
 
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container px-5">
          <h1 class="masthead-subheading mb-0">Embark On A Journey</h1>
          <h1 class="masthead-heading mb-0">{{title}}</h1>
          <a class="btn btn-primary btn-xl rounded-pill mt-5" a className="nav-link" href="/store">Shop Now</a>
          <p style="position:relative; bottom: -9rem;">Brought to you by {{author}}.</p>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section id="scroll">
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5"><img class="img-fluid rounded" src="../../../assets/pic2.jpg" alt="..." /></div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Ready?</h2>
              <p style="font-size: 1.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum
                molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <div class="p-5"><img class="img-fluid rounded" src="../../../assets/pic1.jpg" alt="..." /></div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Set...</h2>
              <p style="font-size: 1.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum
                molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5"><img class="img-fluid rounded" src="../../../assets/pic3.jpg" alt="..." /></div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Go!</h2>
              <p style="font-size: 1.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum
                molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="py-5 bg-black">
      <div class="container px-5">
        <p class="m-0 text-center text-white small">Copyright &copy; Lostborn 2023</p>
      </div>
    </footer>
    <!-- You might want to include Bootstrap JS and other scripts here -->
  </div>